<p>APIkacja</p>

<p>Aktualna cena BTC wynosi <%= @bitcoin_price %> USD</p>
        <p>Do następnego halvingu Bitcoina pozostało <%= @countdown %> dni, który nastąpi <%= @final_countdown %></p>
        <p>Najwyższa wartość pojedyńczej transakcji z przeciągu ostatnich 24h wynosi <%= @beautiful_number%> USD</p>

<hr />

data.json

<ul class="list-group">
<% @items.each do |item| %>
<li class="list-group-item"><%= item["name"] %></li>
<% end %>
</ul>
